html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.feed-tile {
    width: 24%;
    height: 38%;
    background-color: #ff404c;
    display: inline-block;
    padding: 8px;
    color: white;
}

.feed-source-title {
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: block;
    font-weight: bold;
    font-size: 3em;
    vertical-align: bottom;
    float: left;
    text-decoration: none !important;
    font-family: 'Raleway', sans-serif;
}

.feed-content {
    width: 99%;
    height: 86%;
    background-color: #c7323c;
    border: #ccc thin solid;
}

.content-section {
    padding: 0 0 0 6px;
    display: block;
}

.rss-link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rss-link-list li {
    margin: 8px 0;
}

.rss-link-list li a {
    color: #fff;
    text-decoration: none !important;
}

.add-feed-image {
    background-image: url('/static/images/plus.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tile-link {
    text-decoration: none !important;
}

.remove-feed {
    cursor: pointer;
    text-align: center;
    width: 56px;
    height: 56px;
    font-size: 3em;
    float: right;
    color: #fff;
}