.form-field label {
    font-size: 2em;
    display: inline-block;
}

.form-field {
    margin: 2% 0;
}

.form-container {
    width: 40%;
    margin: 8% auto;
}

.form-field input[type="text"] {
    width: 100%;
    font-size: 2em;
}

.form-field input[type="checkbox"] {
    width: 2em;
    height: 2em;
    float: right;
}

.sub-button {
    font-size: 2em;
    width: 22%;
    float: right;
}