{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Feeds{% endblock %}

{% block content %}
    {% if feeds %}
        {% for feed in feeds %}
            <a class="tile-link" href="/viewfeed/{{ feed.for_feed.mongo_id }}">
                <span class="feed-tile">
                    <div class="feed-image">
                        <!--AJAX feed content here?-->
                    </div>
                    <span class="feed-source-title">{{ feed.for_feed.feed_name }}</span>
                </span>
            </a>
        {% endfor %}
    {% endif %}
    <a class="tile-link" href="/addfeed">
        <span class="feed-tile">
            <div class="feed-image add-feed-image">
            </div>
            <span class="feed-source-title">Add feed</span>
        </span>
    </a>
{% endblock %}