{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/css/forms.css" />
{% endblock %}

{% block title %}
    Form Page
{% endblock %}

{% block page_title %}
    Content
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="{{ request.path }}" method="POST">
            {{ form.csrf_token }}
            {% for field in form %}
                <div class="form-field">{{ field.label }} {{ field }}</div>
            {% endfor %}
            <button class="sub-button" type="submit">{% block submit_text %}Submit{% endblock %}</button>
        </form>
    </div>
{% endblock %}