{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/css/forms.css" />
{% endblock %}

{% block title %}
    Form Page
{% endblock %}

{% block page_title %}
    Content
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action=" {{ request.path }} " method="POST">
            {{ form.csrf_token }}
            {% for item in form %}
                {% if item[0].type in ['StringField', 'IntegerField'] %}
                    <div class="form-field">{{ item[0].label }} {{ item[0](value=item[1]) }}</div>
                {% elif item[0].type == 'BooleanField' and item[1] %}
                    <div class="form-field">{{ item[0].label }} {{ item[0](checked="1") }}</div>
                {% elif not item[1] %}
                    <div class="form-field">{{ item[0].label }} {{ item[0] }}</div>
                {% endif %}
            {% endfor %}
            <button class="sub-button" type="submit">{% block submit_text %}Submit{% endblock %}</button>
        </form>
    </div>
{% endblock %}